extends layout

block content
    if !user
        div(class="jumbotron")
            h1 歡迎來到 Cloudblog
            p Cloudblog 是一個基於 Node.js 的博客系統。
            br
            a(class="btn btn-primary btn-large", href="/login") 登錄 
            a(class="btn btn-large", href="/reg") 立即註冊
    else
        div.row
            div(class="col-sm-2")
                 a(class="btn btn-primary",href='/posts/new') 发表新文章
    include posts.jade

