extends layout

block content
  form(class="form-horizontal" method="post" action="/posts")
    fieldset
      legend 發表博客
      div(class="control-group")
          label(class="control-label", for="title") 标题：
          div(class="controls")
              input(type="text",class="input-xlarge",id="title",name="title", required="required")

      div(class="control-group")
          label(class="control-label" for="tag") 标签：
          div(class="controls")
              input(type="text",class="input-xlarge",id="tag",name="tag")
                  
      div(class="control-group")
          label(class="control-label" for="content") 正文：
          div(class="controls")
              textarea(id='content', name="content",rows="20",cols="60",required="required")
          
      div(class="form-actions")
          button(type="submit",class="btn btn-primary") 發表