each post, index in posts
    if index % 3 === 0 
        | <div class="row">
    .span4
        h2
            a(href="/users/#{post.user}") #{post.user} 說
        p
            small= post.time
        p
          a(href='posts/#{post._id}')= post.post
    if index % 3 === 2 || index === posts.length - 1
        | </div>