extends layout

block content
  form(class="form-horizontal" method="post")
      div(class="form-group")
          h3(class="page-header") 修改博客
          
      div(class="form-group")
          label(class="col-sm-1 control-label" , for="title") 标题：
          .col-sm-3
              input(type="text",class="form-control",id="title",name="title",value="#{doc.title}")

      div(class="form-group")
          label(class="col-sm-1 control-label" for="tag") 标签：
          .col-sm-3
              input(type="text",class="form-control",id="tag",name="tag",value="#{doc.tag}")
                  
      div(class="form-group")
          label(class="col-sm-1 control-label" for="content") 正文：
          .col-sm-3
              textarea(class="form-control",id='content', name="content",rows="20")= doc.content
          
      div(class="form-group")
          div(class="col-sm-offset-1 col-sm-1")
            button(type="submit",class="btn btn-primary") 修改