extends layout

block content
  form(class="form-horizontal" method="post")
    fieldset
      legend 修改用户
      div(class="control-group")
          label(class="control-label" , for="name") 用户名：
          div(class="controls")
              input(type="text",class="input-xlarge",id="name",name="name",value="#{doc.name}")

      div(class="control-group")
          label(class="control-label" for="email") 邮箱：
          div(class="controls")
              input(type="text",class="input-xlarge",id="email",name="email",value="#{doc.email}")
     
      div(class="form-actions")
          button(type="submit",class="btn btn-primary") 修改